<nav class="navbar bg-primary navbar-expand-sm navbar-dark">
    <a class="navbar-brand text-white" href="/">Minhas Despesas</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/login">Entrar</a>
        </li>
    </ul>
 </nav>