<nav class="navbar bg-primary navbar-expand-sm navbar-dark">
    <a class="navbar-brand text-white" href="">Minhas Despesas</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/despesas">Minhas Despesas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/finalizadas">Despesas Pagas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/createDespesa">Adicionar Despesa</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logoff">Sair</a>
        </li>
    </ul>
 </nav>