<%- include('partials/header') %>
<body>
    
    <%- include('partials/nav') %>
    
    <div class="container mt-5">
            
        <h1 class="display-4">Organize as Suas despesas!</h1>
        
    </div>

   

</body>
<%- include('partials/footer') %>