<%- include('../partials/header') %>
<body>
    
    <%- include('../partials/nav') %>
    
    <div class="container">

        
        <div class="row justify-content-center">
            <form class="col-9 col-md-5" action="/login" method="POST">
                <h1 class="display-4 mt-5 mb-5">Login</h1>
                <input class="form-control mt-2" name="email" placeholder="Email" type="email">
                <input class="form-control mt-2" name="password" placeholder="Password" type="password">
                <div class="row justify-content-center mt-2">
                    <a class="text-decoration-none" href="/singUp">Criar uma conta</a>
                </div>
                    <button class="btn btn-primary ml-auto">Entrar</button>

              
            </form>
        </div>
        
    </div>

   

</body>
<%- include('../partials/footer') %>